/* .githubcontainer{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h2{
  text-align: center;
}



.loadingDiv{
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(34, 36, 38);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} */


 body {
  background-color: #292d2e;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}
.loadingDiv {
  height: 100vh;
  display: grid;
  color: #fff;
  place-items: center;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #494b4d;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #494b4d;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color:#494b4d;
}
.number3 {
  font-weight: 500;
} 